In [ ]:
import pandas as pd
import scanpy as sc
import numpy as np
from scipy.sparse import vstack
import anndata as ad

In [3]:
# # INPUT
# df_class_RCTD = pd.read_csv('../../../../data/Mouse_Embryo/Mouse_Embryo_RCTD_filters.csv',index_col=0)   # RCTD results

# # NUCLEI GROUPED
# nuclei_grouped = sc.read_h5ad('../../../../data/Mouse_Embryo/Mouse_Embryo_nuclei_grouped.h5ad')

# # EXPANDED NUCLEI
# expanded_nuclei = sc.read_h5ad('../../../../data/Mouse_Embryo/Mouse_Embryo_expanded_nuclei.h5ad')

# INPUT
df_class_RCTD = pd.read_csv('../../../output/RCTD/Mouse_Embryo_RCTD_filters.csv',index_col=0)   # RCTD results

# NUCLEI GROUPED
nuclei_grouped = sc.read_h5ad('../../../output/bin2cell/Mouse_Embryo_nuclei_grouped_geometry.h5ad')

# EXPANDED NUCLEI
expanded_nuclei = sc.read_h5ad('../../../output/bin2cell/Mouse_Embryo_nuclei_expanded_geometry.h5ad')

In [4]:
df_class_RCTD

            type      class
28      rejected   rejected
34      rejected   rejected
46        nuclei  leukocyte
67      rejected   rejected
87      rejected   rejected
...          ...        ...
278628  rejected   rejected
278629  rejected   rejected
278640  rejected   rejected
278698  rejected   rejected
278709  rejected   rejected

[9872 rows x 2 columns]

In [5]:
nuclei_grouped.obs_names = nuclei_grouped.obs_names.astype(str)
nuclei_selected = (np.array(df_class_RCTD.index[df_class_RCTD['type'] == 'nuclei'])).astype(str)
nuclei_grouped_filtered = nuclei_grouped[nuclei_selected, :]
nuclei_grouped_filtered = nuclei_grouped_filtered.copy()
nuclei_grouped_filtered.obs["cell_nucleus"] = "nucleus"

In [6]:
nuclei_grouped_filtered.obs

,object_id,bin_count,array_row,array_col,counts_per_nucleus,features_per_nucleus,bin_count_log,counts_per_nucleus_log,features_per_nucleus_log,n_genes_by_counts,total_counts,total_counts_mt,pct_counts_mt,id,max_diameter,zero_mt,cell_nucleus
46,46,5,2833.200000,941.400000,434.676922,189,0.698970,2.638167,2.276462,189,434.676922,11.578422,2.663685,46,22.314209,False,nucleus
235,235,3,2780.666667,1232.333333,233.735638,159,0.477121,2.368725,2.201397,159,233.735638,11.226295,4.802988,235,15.423561,False,nucleus
361,361,17,2820.176471,1265.529412,1054.955591,526,1.230449,3.023234,2.720986,526,1054.955591,50.024395,4.741848,361,44.659784,False,nucleus
701,701,2,2905.500000,1245.500000,66.012372,42,0.301030,1.819625,1.623249,42,66.012372,2.161921,3.275024,701,31.672493,False,nucleus
815,815,7,2806.000000,1714.000000,201.396358,120,0.845098,2.304052,2.079181,120,201.396358,17.747630,8.812289,815,26.262729,False,nucleus
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
278222,278222,2,255.000000,1514.500000,225.294970,258,0.301030,2.352751,2.411620,258,225.294970,5.423051,2.407089,278222,24.052914,False,nucleus
278300,278300,1,204.000000,1574.000000,66.635673,61,0.000000,1.823707,1.785330,61,66.635673,0.000000,0.000000,278300,13.168383,True,nucleus
278348,278348,2,185.000000,1526.500000,61.091597,90,0.301030,1.785981,1.954243,90,61.091597,2.871491,4.700305,278348,15.521929,False,nucleus
278557,278557,4,291.000000,1788.250000,45.991470,58,0.602060,1.662677,1.763428,58,45.991470,0.660076,1.435214,278557,29.274078,False,nucleus
278615,278615,1,326.000000,1787.000000,53.341844,52,0.000000,1.727068,1.716003,52,53.341844,1.006450,1.886792,278615,16.049851,False,nucleus

In [7]:
expanded_nuclei.obs_names = expanded_nuclei.obs_names.astype(str)
cells_selected = (np.array(df_class_RCTD.index[df_class_RCTD['type'] == 'cells'])).astype(str)
expanded_nuclei_filtered = expanded_nuclei[cells_selected, :]
expanded_nuclei_filtered = expanded_nuclei_filtered.copy()
expanded_nuclei_filtered.obs["cell_nucleus"] = "cell"

In [8]:
expanded_nuclei_filtered.obs

,object_id,bin_count,array_row,array_col,counts_per_cell,features_per_cell,bin_count_log,counts_per_cell_log,features_per_cell_log,n_genes_by_counts,total_counts,total_counts_mt,pct_counts_mt,id,max_diameter,zero_mt,cell_nucleus
585,585,9,2856.111111,977.333333,610.384882,337,0.954243,2.785604,2.527630,337,610.384882,7.267681,1.190672,585,23.099185,False,cell
607,607,7,2774.571429,1221.857143,392.760392,251,0.845098,2.594128,2.399674,251,392.760392,14.098513,3.589596,607,21.913275,False,cell
685,685,8,2779.125000,871.250000,535.186853,290,0.903090,2.728505,2.462398,290,535.186853,14.751269,2.756284,685,26.336865,False,cell
1206,1206,31,2822.483871,1453.612903,706.569068,337,1.491362,2.849155,2.527630,337,706.569068,14.875463,2.105309,1206,51.650076,False,cell
1517,1517,23,3038.913043,1523.608696,642.864192,436,1.361728,2.808119,2.639486,436,642.864192,15.408191,2.396803,1517,44.430895,False,cell
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
272956,272956,23,205.347826,1021.434783,586.095408,756,1.361728,2.767968,2.878522,756,586.095408,18.256167,3.114880,272956,46.197524,False,cell
273253,273253,13,214.538462,873.384615,240.166373,311,1.113943,2.380512,2.492760,311,240.166373,8.817677,3.671487,273253,37.245678,False,cell
274001,274001,5,262.400000,954.800000,269.129569,340,0.698970,2.429961,2.531479,340,269.129569,11.280656,4.191533,274001,16.333504,False,cell
278145,278145,7,318.714286,1685.428571,397.126425,270,0.845098,2.598929,2.431364,270,397.126425,15.656226,3.942378,278145,23.098895,False,cell
278171,278171,3,214.333333,1500.666667,237.630541,354,0.477121,2.375902,2.549003,354,237.630541,8.970076,3.774799,278171,10.330189,False,cell

In [ ]:
if np.all(nuclei_grouped_filtered.var_names == expanded_nuclei_filtered.var_names):
    combined_matrix = vstack([nuclei_grouped_filtered.X, expanded_nuclei_filtered.X])
    combined_obs = pd.concat([nuclei_grouped_filtered.obs, expanded_nuclei_filtered.obs], axis=0)
    
    adata_final = ad.AnnData(X=combined_matrix, obs=combined_obs, var = expanded_nuclei_filtered.var)
    adata_final.uns["spatial"] = nuclei_grouped_filtered.uns["spatial"]
    spatial_1 = np.array(nuclei_grouped_filtered.obsm["spatial"])
    spatial_2 = np.array(expanded_nuclei_filtered.obsm["spatial"])
    spatial_concat = np.concatenate([spatial_1, spatial_2], axis=0)
    adata_final.obsm["spatial"] = spatial_concat
    adata_final.raw = adata_final

AnnData object with n_obs Ã— n_vars = 3537 Ã— 19030
    obs: 'object_id', 'bin_count', 'array_row', 'array_col', 'counts_per_nucleus', 'features_per_nucleus', 'bin_count_log', 'counts_per_nucleus_log', 'features_per_nucleus_log', 'n_genes_by_counts', 'total_counts', 'total_counts_mt', 'pct_counts_mt', 'id', 'max_diameter', 'zero_mt', 'cell_nucleus', 'counts_per_cell', 'features_per_cell', 'counts_per_cell_log', 'features_per_cell_log'
    var: 'gene_ids', 'feature_types', 'genome', 'n_cells', 'mt', 'n_cells_by_counts', 'mean_counts', 'pct_dropout_by_counts', 'total_counts'
    uns: 'spatial'
    obsm: 'spatial'

In [12]:
# merge adata
# adata_final = sc.concat([nuclei_grouped_filtered, expanded_nuclei_filtered], join='outer')
df_class_RCTD.index = df_class_RCTD.index.astype(str)
adata_final.obs["cell_types"] = df_class_RCTD.loc[adata_final.obs.index, "class"]

In [13]:
# save the adata
adata_final.write_h5ad('../../../../data/Mouse_Embryo/Mouse_Embryo_adata_final.h5ad')